# Ignore virtual environment
venv/

# Ignore large ML model weights
*.pth
*.pt
*.ckpt

# Ignore training outputs
results/
wandb/

# Ignore Python cache files
__pycache__/
*.pyc

# VS Code settings
.vscode/

# Logs
*.log

# Temporary files
*.tmp
*.bak
